target
virtualenv
.classpath
.gitignore
.gitreview
.project
.settings
.springBeans
bin
build
target
frontend/app/bower_components
frontend/node_modules
frontend/dist
frontend/.tmp
src/main/webapp
!src/main/webapp/WEB-INF

